<!DOCTYPE html>
  {% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css'%}">
    <link rel="stylesheet" href="{% static 'fullcalendar/assets/main.min.css'%}">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src='{% static 'fullcalendar/assets/main.min.js'%}'></script>
     <script src='{% static 'fullcalendar/assets/locales-all.min.js'%}'></script>

     {%block java%}
     {%endblock%}


  </body>
</html>
