{% extends "base.html" %}

{% block content %}
<h1 class="ui center aligned header">Responsive UI Examples</h1>





<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <div id='calendar'></div>
    </div>

  </div>
</div>
{% endblock %}

{% block java%}
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prevYear,prev,next,nextYear today',
        center: 'title',
        right: 'dayGridMonth,dayGridWeek,dayGridDay'
      },
      //initialDate: '2020-09-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      lang:'uz',
      events: {{ list|safe }}


    });

    calendar.render();
  });

</script>

{%endblock%}
